@import 'abstract/reset';
@import 'abstract/normalize';


.container {
  margin:  0 auto;
  max-width: 85rem;
}
.text-left {
  text-align: left;
}	
.text-center {
  text-align: center;
}	
.text-right {
  text-align: right;
}	
.text-justify {
  text-align: justify;
}	